{% extends "base.twig" %}
{% block content %}

{% include "/templates/partial/pageHeader_products.twig" %}


<section class="s1_product2">
  <div id="bottom"></div>
  <div class="s1_product2--wysiwyg">{{field.s1_wysiwyg}}</div>
  <img class="s1_product2--img" src="{{field.s1_img.url}}" alt="{{field.s1_img.alt}}">
</section>

<section class="s2_product2">
  <h2 class="text-16"><b>{{field.s1_title}}</b></h2>
  
  <div class="s2_product2__table">
    {% for single in field.s1_repeat %}
      <div class="s2_product2__table__row text-13">
        <div class="s2_product2__table__row--key"><p>{{single.key}}</p></div>
        <div class="s2_product2__table__row--value"><p><b>{{single.value}}</b></p></div>
      </div>
    {% endfor %}
  </div>
</section>


{% include "/templates/partial/banner.twig" %}

{% endblock %}