{% extends "base.twig" %}
{% block content %}

{% include "/templates/partial/pageHeader.twig" %}


<section class="s1_contact">
  <div class="s1_contact__content">
    <div class="s1_contact__content__top">
      {% for single in options.contact_address %}
        <div class="footer__bottom__content__single">
          <h3 class="footer__bottom__content__single--title txt-14"><b>{{single.title}}</b></h3>
          <p class="footer__bottom__content__single--text txt-14">{{single.text}}</p>
        </div>
      {% endfor %}
    </div>

    <div class="header__main__right">
      <p class="txt-16">Informacje i rezerwacje</p>
      {% if options.contact_tel %}
        <ul class="header__main__right__tel">
          {% for single in options.contact_tel %}
            <li class="header__main__right__tel--single txt-22">
              <a href="tel:{{extract_phoneNumber(single.tel)}}">{{single.tel}}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      
      <a class="header__main__right--mail txt-22" href="mailto:{{extract_email(options.contact_mail)}}">{{options.contact_mail}}</a>
    </div>

    <div class="footer__bottom__content__single">
      <p class="footer__bottom__content--text txt-14">{{options.contact_text}}</p>
    </div>  
  </div>

  <div class="s1_contact__form">
    {% if acf.s1_form %}
      {{ fn('do_shortcode', '[contact-form-7 id="' ~ acf.s1_form.ID  ~ '" title="' ~ acf.s1_form.post_title ~ '"]') }}
    {% endif %}
  </div>
</section>


<section class="s2_contact">
  <iframe 
    class="s2_contact--map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2320.462633859281!2d18.561908816399477!3d54.43712020014801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd0a942629c287%3A0xf88f57113804b0ab!2sTadeusza%20Ko%C5%9Bciuszki%2052%2F1%2C%2081-703%20Sopot!5e0!3m2!1spl!2spl!4v1641664884657!5m2!1spl!2spl" 
    allowfullscreen="" 
    loading="lazy">
  </iframe>
</section>

{% endblock %}