{% extends "base.twig" %}
{% block content %}


<section class="s1_homepage">
  {% include "templates/partial/image.twig" with {
    img: acf.s1_img,
    class: 's1_homepage--img',
  } %}
  
  <div class="s1_homepage__content">
    <h1 class="s1_homepage__content--title tit-70">{{acf.s1_title}}</h1>

    {% if acf.s1_button %}
      <a class="btn-1" target="{{acf.s1_button.target}}" href="{{acf.s1_button.url}}">
        <span class="btn-1--text">{{acf.s1_button.title}}</span>
      </a> 
    {% endif %}
  </div>
</section>


<section class="s2_homepage">
  <header class="s2_homepage__header">
    <h2 class="s2_homepage__header--title tit-50">{{acf.s2_title}}</h2>
  </header>
  

  <div class="s2_homepage__grid">
    {% for post in posts %}
      <a href="{{get_permalink(trip.ID)}}" class="single_trip_ver">
        <h2 class="single_trip_ver--title txt-22"><b>{{post.post_title}}</b></h2>
        <div class="single_trip_ver__tax">
          Wycieczki szkolne    •     2 dniowe
        </div>
        <p class="single_trip_ver--text txt-14">{{post.text_title}}</p>

        <img class="single_trip_ver--img" src="{{get_field('gallery', post.ID)[0].url}}" alt="{{get_field('gallery', post.ID)[0].alt}}">

        <div class="single_trip_ver__info">
          <div class="single_trip_ver__info__single trip__info__content__single">
            <div class="bottomWrap">
              <span class="trip__info__content__single--title txt-14">Cena:&nbsp;</span>
              {% if post.price_2 %}
                <span class="trip__info__content__single--value pirceDisabled txt-14">{{post.price}}</span>
              {% else %}
                <span class="trip__info__content__single--value txt-14">{{post.price}}</span>
              {% endif %}
            </div>
            <span class="trip__info__content__single--special">{{post.price_2}}</span>
          </div>

          <p class="single_trip_ver__info__single topWrap">
            <span class="trip__info__content__single--title txt-14">Ilość dni:&nbsp;</span>
            <span class="trip__info__content__single--value">{{post.days}}</span>
          </p>
        </div>
        
        {% if get_permalink(trip.ID) %}
          <button class="btn-1" >
            <span class="btn-1--text">sprawdź ofertę</span>
          </button> 
        {% endif %}
      </a>
    {% endfor %}
  </div>


  <div class="s2_homepage__categories">
    <h2 class="s2_homepage__categories--title txt-20"><b>Sprawdź inne wycieczki <span>według kategorii:</span></b></h2>

    <div class="s2_homepage__categories__wrap">
      {% for term in terms %}
        <a class="btn-1" href="{{get_term_link(term.term_id)}}">
          <span class="btn-1--text">{{term.name}}</span>
        </a>
      {% endfor %}
    </div>
  </div>

</section>


{% include "/templates/partial/banner.twig" with {'img': acf.s3_img, 'title': acf.s3_title, 'button': acf.s3_button} %}
{% include "/templates/partial/catalog.twig" with {'img': acf.s4_img, 'title': acf.s4_title, 'text': acf.s4_text, 'button': acf.s4_button} %}


{% if opinions %}
  {% include "/templates/partial/opinions.twig" with {'opinions': opinions} %}
{% endif %}



{% endblock %}



