{% extends "base.twig" %}
{% block content %}


<section class="s1_homepage" data-aos="flip-up" data-aos-easing="linear" data-aos-delay="1400">
  <div class="s1_homepage__slider swiper-container">
    <div class="swiper-wrapper">
      {% for single in terms %}
        <div class="swiper-slide">
          {% include "templates/partial/image.twig" with {
            img: get_field('img', single),
            class: 's1_homepage--img',
          } %}
          
          <div class="s1_homepage__content">
            <h1 class="s1_homepage__content--title tit-70">{{single.name}}</h1>

            {% if get_term_link(single) %}
              <a class="btn-1" href="{{get_term_link(single)}}">
                <span class="btn-1--text">{{pll__('check_offer')}}</span>
              </a> 
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="s2_homepage">
  <header class="s2_homepage__header">
    <h2 class="s2_homepage__header--title tit-50">{{acf.s2_title}}</h2>
  </header>
  

  <div class="s2_homepage__grid">
    {% for post in posts %}
      <a href="{{get_permalink(trip.ID)}}" class="single_trip_ver" data-aos="zoom-in-up" data-aos-easing="linear" data-aos-offset="400">
        <header class="single_trip_ver__header">
          <h2 class="single_trip_ver--title txt-22"><b>{{post.post_title}}</b></h2>
          <div class="single_trip_ver__tax">
            {% if fn('getMainTax', post.ID)[0] %}
              <p href="{{get_term_link(fn('getMainTax', post.ID)[0].slug, 'trips-category')}}">{{fn('getMainTax', post.ID)[0].name}}</p>
            {% endif %}

            <p class="single_trip_ver--text txt-14">
              {% if post.text|length < 74 %}
                {{post.text}}
              {% else %}
                {{post.text|slice(0, 74) }}...
              {% endif %}
            </p>
          </div>
        </header>

        <img class="single_trip_ver--img" src="{{get_field('gallery', post.ID)[0].url}}" alt="{{get_field('gallery', post.ID)[0].alt}}">

        <div class="single_trip_ver__info">
          <div class="single_trip_ver__info__single trip__info__content__single">
            <div class="bottomWrap">
              <span class="trip__info__content__single--title txt-14">Cena:&nbsp;</span>
              {% if post.price_2 %}
                <span class="trip__info__content__single--value pirceDisabled txt-14">{{post.price}}</span>
              {% else %}
                <span class="trip__info__content__single--value txt-14">{{post.price}}</span>
              {% endif %}
            </div>
            <span class="trip__info__content__single--special">{{post.price_2}}</span>
          </div>

          <p class="single_trip_ver__info__single topWrap">
            <span class="trip__info__content__single--title txt-14">Ilość dni:&nbsp;</span>
            <span class="trip__info__content__single--value">{{post.days}}</span>
          </p>
        </div>
        
        {% if get_permalink(trip.ID) %}
          <button class="btn-1" >
            <span class="btn-1--text">{{pll__('check_offer')}}</span>
          </button> 
        {% endif %}
      </a>
    {% endfor %}
  </div>


  <div class="s2_homepage__categories">
    <h2 class="s2_homepage__categories--title txt-20">{{pll__('check_other')}}</h2>

    <div class="s2_homepage__categories__wrap">
      {% for term in terms %}
        <a class="btn-1" href="{{get_term_link(term.term_id)}}">
          <span class="btn-1--text">{{term.name}}</span>
        </a>
      {% endfor %}
    </div>
  </div>

</section>


{% include "/templates/partial/banner.twig" with {'img': acf.s3_img, 'title': acf.s3_title, 'button': acf.s3_button} %}
{% include "/templates/partial/catalog.twig" with {'img': acf.s4_img, 'title': acf.s4_title, 'text': acf.s4_text, 'button': acf.s4_button} %}


{% if opinions %}
  {% include "/templates/partial/opinions.twig" with {'opinions': opinions} %}
{% endif %}



{% endblock %}



