{% extends "base.twig" %}
{% block content %}


<section class="s1_homepage">
  <img class="s1_homepage--img" src="{{acf.s1_img.url}}" alt="{{acf.s1_img.alt}}">

  <div class="s1_homepage__content">
    <h1 class="s1_homepage__content--title tit-70">{{acf.s1_title}}</h1>

    {% if acf.s1_button %}
      <a class="btn-1" target="{{acf.s1_button.target}}" href="{{acf.s1_button.url}}">
        <span class="btn-1--text">{{acf.s1_button.title}}</span>
      </a> 
    {% endif %}
  </div>
</section>


<section class="s2_homepage">
  <header class="s2_homepage__header">
    <h2 class="s2_homepage__header--title tit-50">{{acf.s2_title}}</h2>
  </header>
  

  <div class="s2_homepage__grid">
    {% for post in posts %}
      <div class="single_trip_ver">
        <h2 class="single_trip_ver--title">{{post.post_title}}</h2>
        <p class="single_trip_ver--text txt-14">{{post.text}}</p>

        <img class="single_trip_ver--img" src="{{get_the_post_thumbnail_url(post.ID)}}" alt="{{post.post_title}}">
      </div>
    {% endfor %}
  </div>

</section>


{% include "/templates/partial/banner.twig" with {'img': acf.s3_img, 'title': acf.s3_title, 'button': acf.s3_button} %}
{% include "/templates/partial/catalog.twig" with {'img': acf.s4_img, 'title': acf.s4_title, 'text': acf.s4_text, 'button': acf.s4_button} %}


{% if opinions %}
  {% include "/templates/partial/opinions.twig" with {'opinions': opinions} %}
{% endif %}



{% endblock %}



