{% extends "base.twig" %}
{% block content %}

<header class="pageHeader">
  <h1 class="pageHeader--title tit-50">{{post.post_title}}</h1>
</header> 

<section class="s1_trip">
  <div class="s1_trip__gallery">
    <div class="swiper-container productGallery-top">
      <div class="swiper-wrapper">
        {% for single in acf.gallery %}
          <a data-fslightbox="gallery" href="{{single.url}}" class="swiper-slide">
            <img src="{{single.url}}" alt="{{single.alt}}">
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="swiper-container productGallery-bottom">
      <div class="swiper-wrapper">
        {% for single in acf.gallery %}
          <div class="swiper-slide" >
            <div class="swiper-slide-inner" style="background-image:url({{single.sizes.thumbnail}})"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="s1_trip__content">
    {{fn('the_breadcrumb')}}

    <div class="tripCard">
      <h2 class="txt-16"><b>Opis wycieczki</b></h2>
      <p class="txt-14"><b>{{acf.text_title}}</b></p>
      <p class="txt-14">{{acf.text}}</p>

      <div class="tripCard__info">
        <div class="tripCard__info__content">
          <div class="tripCard__info__content__single">
            <span class="tripCard__info__content__single--title txt-14">Ilość dni:&nbsp;</span>
            <span class="tripCard__info__content__single--value">{{acf.days}}</span>
          </div>

          <div class="tripCard__info__content__single">
            <span class="tripCard__info__content__single--title txt-14">Cena:&nbsp;</span>
            {% if acf.price_2 %}
              <span class="tripCard__info__content__single--value pirceDisabled txt-14">{{acf.price}}</span>
            {% else %}
              <span class="tripCard__info__content__single--value txt-14">{{acf.price}}</span>
            {% endif %}
            <span class="tripCard__info__content__single--special">{{acf.price_2}}</span>
          </div>
        </div>

        <a class="tripCard__info__button btn-1" href="">
          <span class="btn-1--icon">{{the_svg('pdf-white')}}</span>
          <span class="btn-1--text">pobierz ofertę (pdf)</span>
        </a>
      </div>


      <div class="tripCard__repeat">
        {% for single in acf.felx_content %}
          {% if single.acf_fc_layout  == 'tour_plan' %}
            <div class="tripCard__repeat__single">
              <h2 class="tripCard__repeat__single--title txt-16"><b>{{single.title}}</b></h2>
                
              <div class="tripCard__repeat__single__list">
                {% for item in single.days %}
                  <div class="tripCard__repeat__single__list__single">
                    <p class="tripCard__repeat__single__list__single--no txt-12">{{loop.index}} dzień</p>
                    <p class="tripCard__repeat__single__list__single--text txt-14">{{item.text}}</p>
                  </div>
                {% endfor %}
              </div>
              
            </div>
          {% else %}
            <div class="tripCard__repeat__single">
              <h2 class="tripCard__repeat__single--title txt-16"><b>{{single.title}}</b></h2>
              
              <div class="tripCard__repeat__single--wysiwyg">{{single.edytor}}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="s1_trip__content__form">
      <h2 class="txt-16"><b>ZAPYTAJ O WYCIECZKĘ</b></h2>

      {{ fn('do_shortcode', '[contact-form-7 id="5" title="Kontakt"]') }}
    </div>
  </div>

  
</section>

<section class="reviews">
  <div class="reviews__addNew">
    <h2 class="reviews__addNew--title tit-50">Dodaj opinię</h2>
    <p class="reviews__addNew--text txt-22">Opinia dotycząca: <br><b>{{post.title}}</b></p>
    {{fn('do_shortcode', '[reviews]')}}
  </div>

  {% if opinions %}
    <div class="reviews__list">
      <header class="reviews__list__header">
        <h2 class="tit-50">Opinie klientów</h2>
        <p class="txt-22">{{post.title}}</p>
      </header>

      <div class="reviews__list__slider">
        {% for opinion in opinions %}
          {% include "/templates/partial/single_opinion.twig" with {'opinion': opinion} %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</section>

{% endblock %}