<section class="premises">
  <header class="premises__header">
    <h2 class="premises__header--title tit-100">{{options.locals_title}}</h2>
  </header>

  {% if options.locals_repeat|length > 3 %}
    <div class="premises__slider swiper-container">
      <div class="swiper-wrapper">
        {% for local in options.locals_repeat %}
          <div class="premises__local swiper-slide">
            <h3 class="premises__local--title tit-35">{{local.city}}</h3>
            <p class="premises__local--text tit-25">{{local.street}}</p>

            {% if local.mail %}
              <a class="premises__local--contact" href="mailto:{{extract_email(local.mail)}}">
                <img src="{{asset('mail.svg')}}" alt="mail">
                <span class="tit-25">{{local.mail}}</span>
              </a>
            {% endif %}

            {% if local.tel %}
              <a class="premises__local--contact" href="tel:{{extract_phoneNumber(local.tel)}}">
                <img src="{{asset('tel.svg')}}" alt="tel">
                <span class="tit-25">{{local.tel}}</span>
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="premises__grid">
      {% for local in options.locals_repeat %}
        <div class="premises__local">
          <h3 class="premises__local--title tit-35">{{local.city}}</h3>
          <p class="premises__local--text tit-25">{{local.street}}</p>

          {% if local.mail %}
            <a class="premises__local--contact" href="mailto:{{extract_email(local.mail)}}">
              <img src="{{asset('mail.svg')}}" alt="mail">
              <span class="tit-25">{{local.mail}}</span>
            </a>
          {% endif %}

          {% if local.tel %}
            <a class="premises__local--contact" href="tel:{{extract_phoneNumber(local.tel)}}">
              <img src="{{asset('tel.svg')}}" alt="tel">
              <span class="tit-25">{{local.tel}}</span>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</section>